/* ------ General styles ------ */

html, body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
/* ------ Header rules ------ */
#icms-headerlogo {
	float: right;
}

#icms-headerbanner {
	right:0px;
	left:20px;
	float: left;
}

/* ------ Header top menu navigation rules ------ */

#icms-globalnav {
	padding-left: 0px;
	padding-right: 11px;
}

#icms-globalnav ul {
	float: right;
}
#icms-canvas-leftcolumn {
	float:			right;
	margin-left:	0px;
	margin-right:	-170px;
}
#icms-canvas-rightcolumn {
	float:			left;
	margin-right:	0px;
	margin-left:	-170px;
}
/* ----------Canvas rules (when columns are visible) ---------- */

#icms-canvas.leftcolumn-layout #icms-canvas-columns, #icms-canvas.threecolumns-layout #icms-canvas-columns {	padding-right: 190px; }
#icms-canvas.rightcolumn-layout #icms-canvas-columns, #icms-canvas.threecolumns-layout #icms-canvas-columns { padding-left: 170px; }
/* ------- Top and bottom zones (3 columns) ------- */

#icms-page-topblocks.icms-lcrpageblocks .icms-blockszone, #icms-page-bottomblocks.icms-lcrpageblocks .icms-blockszone {
	float:			right;
}

