root = true

[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
tab_width = 4

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
