/.settings
/.buildpath
/.project
/.idea
/cfg_*/
**/.svn/
**/.git/
/htdocs/modules/*
!/htdocs/modules/system/
/htdocs/mainfile.php
/nbproject/
/htdocs/templates_c/*.php
/htdocs/cache/*
htdocs/mainfile.php
vendor/
