<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
>
	<testsuites>
		<testsuite name="icms-core">
			<directory>tests/icms/core</directory>
		</testsuite>
		<testsuite name="icms-ipf">
			<directory>tests/icms/ipf</directory>
		</testsuite>
	</testsuites>
</phpunit>


