html, body {
	margin:		0px;
	padding:	0px;
	height:		100%;
}

body {
	font:		10pt Lucida Grande, tahoma, osaka,taipei,verdana, arial, helvetica, sans-serif;
	color:		#000000;
	background:	#c6c7c9;
}

#xo-banner {
	background:		url(img/top_bg.png) repeat-x left top;
	height:			110px;
}
#xo-content {
	margin:					1em 2em;
	padding:				.5em;
	background:				#fff;
	border:					1px solid #666;
	border-right-width:		3px;
	border-bottom-width:	2px;
	min-height:				400px;
}
#check_results {
	width:					30em;
}


a		{
    text-decoration: none;
	color: #666666;font-weight: bold;
	background-color: transparent;
}

a:hover		{
    text-decoration: none;
    	color: #ff9966;
    	font-weight: bold;
    	background-color: transparent;
}

h1 {
	clear:			both;
	margin-top:		.25em;
	margin-bottom:	.5em;
	border-bottom:	1px solid #ccc;
	padding-left:	0;
	font-size:		200%;
	font-weight:	bold;
	color:			#666F7D;
}


img		{	border:0;			}

label {
	display:		block;
	padding:		0px;
}
.xo-formfield {
	margin-bottom:	.2em;
}
.xo-formbuttons {
	padding-top:	.5em;
	padding-left:	0px;
}

.xo-formfield.required label:after {
	content:		'*';
	color:			#ff0000;
}

input[type=text], input[type=password], textarea {
	border:				1px solid #ddd;
	margin:				2px 0px;
	padding-left:		.2em;
	background-color:	#fff;
}

.x2-note {
	margin:				1em .5em;
	padding:			.5em;
	background-color:	#F4FAFF;
	border:				1px solid #E4EAEF;
}

#link-next {
	display:		block;
	text-align:		left;
	margin-top:		2em;

}
li {
	margin-left: 30px;
}