<div class="infobox">
<div class="navbar_right well">
	<!--
	<{foreach item=block from=$xoBlocks.menu}> 
<{$block.title}>
<{/foreach}> -->
	
    <ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#">Active class</a></li>
	<li class=""><a href="#">Link2</a></li>
	<li class=""><a href="#">Link3</a></li>
	<li class=""><a href="#">Link4</a></li>
	<li class=""><a href="#">Link5</a></li>
	<li class=""><a href="#">Link6</a></li>
	<li class=""><a href="#">Link7</a></li>
    </ul>
</div>
</div>