/* IMPORTANT, PLEASE RESPECT THIS SEMANTIC ORDER !!! :
	- position box,
	- width,
	- heigth,
	- margin,
	- background-color,
	- background-image,
	- padding,
	- content (color, style font, ...),
	- border,
	 ... */

/* General definitions */
html, body {background-color : #EEEEEE; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0px; padding: 0px;}

img { border: 0;}

hr { height: 3px; width: 95%; text-align:center; border: 3px #E18A00 solid;}

/* lists */
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #000; list-style: square inside;}

/* titles */
h1, h2, h3, h4 {	padding: 0.5em 0 .5em .5em;}
h1 { font-size: 1.4em;}
h2 { font-size: 1.2em;}
h3 { font-size: 1.1em;}
h4 { font-size: 1.1em; font-weight: bold;}

/* ===== hypertext links ===== */
a:link { background-color: transparent; color: #666; font-weight: bold; text-decoration: none;}
a:visited { background-color: transparent; color: #666; font-weight: bold; text-decoration: none;}
a:hover { background-color: transparent; color: #ff9966; font-weight: bold; text-decoration: none;}


/* ===== Code and Quote Definition ===== */
.xoopsCode { background-color: #FAFAFA; color: #006600; font-size: .9em; border: #c2cdd6 1px dashed;}
.xoopsQuote { background-color: #FAFAFA; color: #444; font-size: .9em; line-height: 1.2em; text-align: justify; border: #c2cdd6 1px dashed;}

/* ===== Links for Quotes ===== */
.xoopsQuote a:link, div.xoopsQuote a:visited { background-color: transparent; color: #444; font-weight: bold;}
.xoopsQuote a:hover, div.xoopsQuote a:active { background-color: transparent; color: #1778cb;}

/* ===== Redirect messages ===== */
.errorMsg,.confirmMsg, .resultMsg , .warningMsg { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg      { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg     { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.warningMsg     { background-color: #99CCFF; color: #000099; border-color: #0099FF; }
.resultMsg    { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a    { background-color: transparent; color: #D12F19; }
.confirmMsg a   { background-color: transparent; color: #817134; }
.successMsg a  { background-color: transparent; color: #529214; }
/*.errorMsg { background-color: #FF3737; padding: 10px; color:#fff; font-size:1em; font-weight: bold; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;}
.confirmMsg { background-color : #DDFFDF; color: #136C99; font-size:1em; text-align:center; font-weight : bold; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;}*/

/* ===== General small ===== */
.fontSmall { font-size : .7em;}
a.fontSmall { background-color: transparent; color: #006699;}
a.fontSmall:hover { background-color: transparent; color: #C23030; text-decoration: underline;}

/* ===== forms elements ===== */
input {background-color: #fff; color:inherit; font-size: .8em; font-family: verdana, arial, helvetica, sans-serif; border-left: #000 1px solid;color: #000; border-bottom: #000 1px solid; border-right: #000 1px solid; border-top: #000 1px solid;}
textarea { width: 430px; font-size: .8em; font-family: verdana, arial, helvetica, sans-serif; border: #000 1px solid;}
input.formTextBox { background: #fff; color:inherit; font-size: .8em; font-family: verdana, arial, helvetica, sans-serif;border: #000 1px solid; }
select { font-size: .8em; font-family: verdana, arial, helvetica, sans-serif; border: #000 1px solid;}

/* ===== content module ===== */
.content { text-align: justify; padding: 0 15px 0px 15px;}

.xoopsCenter { text-align:center;}

.bg1 { background-color: #E6E6E6; color:inherit;}
.bg2 { background-color: #2F5376; color:inherit;}
.bg3 { background-color: #2F5376; color: #fff;}
.bg4 { background-color: #ECECEC; color:inherit;}
.bg5 { background-color: #ECECEC; color:inherit;}

/* ===== tables ===== */
caption {font-style: italic; font-weight: bold;}
th, thead {background-color: #2F5376; padding : 2px; color: #fff; vertical-align : middle;}
.outer {border: 1px solid #c0c0c0;}
.head {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}
.even {background-color: #dee3e7; padding: 5px; color:inherit;}
.odd {background-color: #E6E6E6; padding: 5px; color:inherit;}
.foot, tfoot {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}
tr.head td {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}
tr.even td {background-color: #dee3e7; padding: 5px; color:inherit;}
tr.odd td {background-color: #E6E6E6; padding: 5px; color:inherit;}
tr.foot td {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}
form td.head {width: 30%;}
/* ===== debug messages ===== */
#xo-logger-output {font-size: .8em;}
/**
 * Declaraciones para nuevo formato
 * @author BitC3R0
 */
div#logoHead{
	padding: 0;
	text-align: left;
	background: url(images/header-bg.png) repeat-x;
	/*border-bottom: 3px solid #9ACD32;*/
}
div#navbarCP{
	/*background: #F1F1FC;*/
	background: url(images/navbar-bg_dark.png) repeat-x;
	/*padding: 4px;*/
	/*border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;*/
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	height: 35px;
}
div#navbarCP ul{
	list-style: none;
	padding: 0;
	margin: 0;
	/*border: 1;*/
}
div#navbarCP ul li{ list-style: none; padding: 0; float: left; margin: 0; margin-left: 3px; position: relative; }
div#navbarCP ul li a{ padding: 4px;	display: block;	color: #FFFFFF;	font-weight: normal; font-size:14px; padding-right:20px;}
div#navbarCP ul li a:hover{
	border-color: #ADD8E6;
	color: #99CCFF;
	text-decoration: none;
}
div#navbarCP ul li ul{
	display: none;
	position: absolute;
	top: 1em;
	margin-left: 15px;
	background: #FFFFFF;
	border: 1px solid #000000;
	padding: 0;
	/*margin: 0;*/
}
div#navbarCP ul li ul a{
	color: #666666;
	font-weight: normal;
	background: url(images/item.png) no-repeat left;
	padding-left: 20px;
	margin: 0;
	font-size:11px;
	/*border:1px solid #000000;*/
	border: 1px solid #FFFFFF;
}
div#navbarCP ul li ul a:hover{
	color: #000000;
	background-color: #E7F4F7;
	border-color: #ADD8E6;
	border:1px solid #ffffff;
}
div#navbarCP ul li ul li{
	width: 150px;
	margin: 0;
	*width: 150px;
	*margin-left:-10px;
}
div#navbarCP ul li > ul {
	top: auto;
	left: auto;
}
div#navbarCP ul li:hover ul, div#navbarCP li.over ul{ display: block; }
div#navbarCP ul li ul li{
	float: none;
}
div#navbarCP ul li ul li ul{
	margin-left:150px;
	margin-top:-25px;
}
div#navbarCP ul li ul li ul li{
	display:none;
}
div#navbarCP ul li ul li:hover ul li {
	display:block;
}

div#bodyCP{
	width: 95%;
	margin: 0 auto;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 8px;
}
div#containBodyCP{
	padding: 0;
	margin: 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}
div#navOptionsCP{
	padding: 0px 5px 0px 5px;
	text-align: right;
	background: #EEEEEE;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	height: 35px;
}
div#navOptionsCP a{
	border: 1px solid #DFE0FD;
	height: 32px;
	display: block;
	width: 32px;
	float: right;
	margin: 0;
	margin-right: 2px;
}
div#navOptionsCP a:hover{
	background-color: #E7F4F7;
	border-color: #ADD8E6;
}
div#navOptionsCP .modname{
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: Silver;
	margin-top: 4px;
}
.CPrssLinks{
	padding: 4px;
}
.CPrssLinks a{
	font-size: 12px;
	background: url(images/item.png) no-repeat left;
	padding: 2px;
	display: block;
	padding-left: 18px;
}
div.CPfoot{
	padding: 4px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}

.CPbigTitle{
	font-size: 20px;
	color: #777777;
	background: no-repeat left top;
	font-weight: bold;
	height: 40px;
	vertical-align: middle;
	padding: 10px 0 0 50px;
	border-bottom: 3px solid #000000;
}
#nav-change-language {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}
