@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:300);

body{ background:url(bg.png) #7ae413; font:300 14px/22px Open Sans, Arial; color: #444;overflow-x:hidden; }
h1,h2,h3{margin: 0;padding: 0;}
h1{ text-align:center;  border-bottom:1px dashed #ccc; font:normal 35px/50px Roboto Condensed, Arial; padding-bottom: 15px; margin-bottom: 30px; color: #666;}
h1 span{  color: #7ae413; }

h2{ font:normal 25px Roboto Condensed, Arial; color:#7ae413; border-bottom:1px dashed #ccc; padding-bottom: 5px; margin-bottom: 15px;}
h3{ font:normal 25px Roboto Condensed, Arial; color:#222; margin-bottom: 22px;}

.form-control{padding: 10px;height: auto;}
.btn-default{padding: 7px 30px;background-color: #7ae413;border:none;font:normal 18px Roboto Condensed, Arial;color: #fff; }
.btn-default:hover,.btn-default:active,.btn-default:focus{background-color: #444;color: #fff;}

.wrapper-bg{ background:url(glow.png) center -50px no-repeat; position:relative;}
.header{ text-align: center;padding: 25px 0;}
.opacity{ background:url(opa.png); padding:15px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; position:relative;}
	.opacity .topleft{ background-image:url(topleft.png);position:absolute; display:block; top:-8px; left:-22px; width:250px; height:233px;}
	.opacity .bottomleft{ background-image:url(bottom-left.png);position:absolute; display:block; bottom:-25px; left:-25px; height:56px; width:433px;}
	.opacity .bottomright{ background-image:url(bottom-right.png);position:absolute; display:block; bottom:-25px; right:-20px; width:418px; height:288px; }

.content { background: url(gradient.png)  top center repeat-x #fff; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; padding:20px; position:relative;}

.social{margin: 25px 0;}
.field{ background: url(field.gif); padding:5px;margin-bottom:20px;}

.block ul li{margin-bottom: 15px; background: url(tick.png) left  9px no-repeat;padding-left: 18px;}
