/**
 * @file
 * Administration menu.
 *
 * Implementation of Sons of Suckerfish Dropdowns.
 *
 * @see www.htmldog.com/articles/suckerfish
 */

#admin-menu-wrapper #admin-menu {
  background: #101010 url(images/bkg.png) bottom left repeat-x;
  font-size: 9px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
}

#admin-menu-wrapper #admin-menu li.admin-menu-icon a {
  padding: 1px 8px 4px;
}
#admin-menu-wrapper #admin-menu li.admin-menu-icon ul a {
  padding: 4px 8px;
}
#admin-menu-wrapper #admin-menu li.admin-menu-icon img {
  vertical-align: bottom;
}
#admin-menu-wrapper #admin-menu li.admin-menu-users a {
  background: transparent url(images/icon_users.png) 90% center no-repeat;
  padding-right: 22px;
}
#admin-menu-wrapper #admin-menu li.admin-menu-action {
  float: right;
}
#admin-menu-wrapper #admin-menu li.admin-menu-action a {
  border-left: 1px solid #323232;
  border-right: none;
}
body.adminMenu {
  margin-top: 20px !important;
}

/* All lists */
#admin-menu-wrapper #admin-menu,
#admin-menu-wrapper #admin-menu ul {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}
#admin-menu-wrapper #admin-menu ul {
  position: static;
}
#admin-menu-wrapper #admin-menu ul a {
  background: transparent none;
  border-bottom: none;
  border-right: 1px solid #323232;
  color: #EEE;
  display: block;
  font-weight: normal;
  padding: 4px 8px;
  text-align: left;
  text-decoration: none;
}
#admin-menu-wrapper #admin-menu ul li.admin-menu-tab a {
  border-right: 1px solid #52565E;
}
#admin-menu-wrapper #admin-menu li li a {
  border-right: none;
  border-top: 1px solid #323232;
}

/* All list items */
#admin-menu-wrapper #admin-menu li {
  background-image: none;
  float: left;
  height: 100%;
  list-style-image: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
#admin-menu-wrapper #admin-menu li.admin-menu-tab {
  background: url(images/bkg_tab.png) repeat-x left bottom;
  padding-bottom: 1px;
}
#admin-menu-wrapper #admin-menu li.admin-menu-tab:hover {
  background-image: url(images/bkg_red.png);
}
#admin-menu-wrapper #admin-menu li li {
  background: #202020;
  filter: Alpha(opacity=88);
  opacity: 0.88;
  width: 160px; /* Required for Opera */
}
#admin-menu-wrapper #admin-menu li li li {
  filter: Alpha(opacity=100);
  opacity: 1;
}

/* Second-level lists */
/* Note: We must hide sub-lists or scrollbars might appear (display: none is not read by screen readers). */
#admin-menu-wrapper #admin-menu li ul {
  background: none;
  display: none;
  left: -999em;
  line-height: 1.2em;
  margin: 0;
  position: absolute;
  width: 160px;
}

/* Third-and-above-level lists */
#admin-menu-wrapper #admin-menu li li.expandable ul {
  margin: -20px 0 0 160px;
}

#admin-menu-wrapper #admin-menu li:hover ul ul,
#admin-menu-wrapper #admin-menu li:hover ul ul ul,
#admin-menu-wrapper #admin-menu li:hover ul ul ul ul,
#admin-menu-wrapper #admin-menu li:hover ul ul ul ul ul,
#admin-menu-wrapper #admin-menu li.iehover ul ul,
#admin-menu-wrapper #admin-menu li.iehover ul ul ul,
#admin-menu-wrapper #admin-menu li.iehover ul ul ul ul,
#admin-menu-wrapper #admin-menu li.iehover ul ul ul ul ul {
  display: none;
  left: -999em;
}

/* Lists nested under hovered list items */
#admin-menu-wrapper #admin-menu li:hover ul,
#admin-menu-wrapper #admin-menu li li:hover ul,
#admin-menu-wrapper #admin-menu li li li:hover ul,
#admin-menu-wrapper #admin-menu li li li li:hover ul,
#admin-menu-wrapper #admin-menu li li li li li:hover ul,
#admin-menu-wrapper #admin-menu li.iehover ul,
#admin-menu-wrapper #admin-menu li li.iehover ul,
#admin-menu-wrapper #admin-menu li li li.iehover ul,
#admin-menu-wrapper #admin-menu li li li li.iehover ul,
#admin-menu-wrapper #admin-menu li li li li li.iehover ul {
  display: block;
  left: auto;
}
#admin-menu-wrapper #admin-menu li.admin-menu-action:hover ul {
  right: 0;
}

/* Second-and-more-level hovering */
#admin-menu-wrapper #admin-menu li li.expandable {
  background: #45454A url(images/arrow.png) no-repeat 145px 6px;
}
#admin-menu-wrapper #admin-menu li li:hover,
#admin-menu-wrapper #admin-menu li li.iehover {
  background-color: #111;
}
#admin-menu-wrapper #admin-menu li li:hover a,
#admin-menu-wrapper #admin-menu li li:hover li:hover a,
#admin-menu-wrapper #admin-menu li li:hover li:hover li:hover a {
  color: #FFF;
}
#admin-menu-wrapper #admin-menu li li.expandable:hover a,
#admin-menu-wrapper #admin-menu li li.expandable:hover li.expandable:hover a {
  border-color: #444;
  color: #EEE;
}
#admin-menu-wrapper #admin-menu li li.expandable:hover li a,
#admin-menu-wrapper #admin-menu li li.expandable:hover li.expandable:hover li a {
  border-color: #323232;
}
#admin-menu-wrapper #admin-menu li li:hover li a,
#admin-menu-wrapper #admin-menu li li.iehover li a,
#admin-menu-wrapper #admin-menu li li.iehover li.iehover li a {
  color: #EEE;
}
#admin-menu-wrapper #admin-menu li li.iehover a,
#admin-menu-wrapper #admin-menu li li.iehover li.iehover a,
#admin-menu-wrapper #admin-menu li li.iehover li.iehover li.iehover a {
  color: #FFF;
  width: 90%; /* IE */
}

/* Hide the menu on print output. */
@media print {
  #admin-menu-wrapper #admin-menu {
    display: none !important;
  }
  body.adminMenu {
    margin-top: 0 !important;
  }
}