@import url(style_icms.css);

html {background:#0254a6;}
body {background:#0254a6; visibility: hidden; font: 13px/18px 'Droid Sans', Helvetica, Arial, sans-serif;}

/* General styling */
.container_12 {width: 100%; margin: 0;}
::selection {background: #ffb400; color: #000;}
h1,h2,h3,h4,h5,h6 {font-family: 'Ubuntu', Helvetica, Arial, sans-serif; font-weight: bold;}
h1,h2,h3 {border-bottom:1px solid;}
a, a:visited {color: #08C; text-decoration: none;}
a:hover, a:focus {color: #ffb400;}
.invisible {visibility: hidden}

/* Prettifying the inputs */
input[type=text],input[type=password],input[type=phone],select {max-width: 95%;}
input.wide {width: 95%;}
input[type=submit] {background: #fff; border:1px solid #dadada; border-radius:3px; padding:4px 8px; transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out;}
input[type=submit]:hover,input[type=submit]:active,input[type=submit]:focus {outline:none; border-color:#9ecaed; box-shadow:0 0 10px #9ecaed;}
ul.nav {padding: 0;}
#mainMenu ul.nav {margin: 0;}
.tab-content {padding: 0; margin: 0;}
.tab-content .tab-pane {padding: 20px 0;}
/* Header */
header {min-height: 60px; background: #FFF; color: #6E6E6E;}
#header {padding: 10px 0;}
.logo {padding: 0 10px; float: left; width: auto;}
.header_search {float: right; width: auto;}

/* Primary Navigation */
nav#primary_navigation ul {width: auto; float: right; margin-top: -20px;}
nav#primary_navigation ul li {float: left; display: inline; margin: 0 0 0 30px; border-bottom: 3px solid transparent;}
nav#primary_navigation ul li.active, nav#primary_navigation ul li:hover {border-bottom: 3px solid #D9D9D9;}
nav#primary_navigation ul li a {line-height: 41px; padding: 0; margin: 0; display: block; position: relative; overflow: hidden; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; letter-spacing: 1px; color: #565656;}
nav#primary_navigation ul li.active a, nav#primary_navigation ul li a:hover {color: #46B1E1; text-decoration: none;}
nav#primary_navigation ul li.last {margin: 0;}

/* Preface and Footer Backgrounds */
.preface_wrapper, .footer_wrapper {
  width: 100%;
  min-height: 100px;  
  background-color:#0254a6;
  background-image:-webkit-gradient(radial, center top, 0, center top, 600, color-stop(0, #08abf0), color-stop(1, #0254a6));
  background-image:-webkit-radial-gradient(top center, ellipse farthest-side, #08abf0, #0254a6);
  background-image:   -moz-radial-gradient(top center, ellipse farthest-side, #08abf0, #0254a6);
  background-image:    -ms-radial-gradient(top center, ellipse farthest-side, #08abf0, #0254a6);
  background-image:     -o-radial-gradient(top center, ellipse farthest-side, #08abf0, #0254a6);
  background-image:        radial-gradient(top center, ellipse farthest-side, #08abf0, #0254a6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#08abf0, endColorstr=#0254a6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#08abf0, endColorstr=#0254a6)";
  -webkit-box-shadow:0 0.5px 3px rgba(0, 0, 0, 0.5) inset;
     -moz-box-shadow:0 0.5px 3px rgba(0, 0, 0, 0.5) inset;
      box-shadow:0 0.5px 3px rgba(0, 0, 0, 0.5) inset;
}

.preface {overflow: visible; background: url(img/textures/diagTextureRight.png) top center no-repeat;}
.preface .block_inner {color: #fff; padding: 20px;}
.preface h1, .preface h2, .preface h3, .preface h4, .preface h5, .preface h6 {border: 0;}

/* Aside Left */
.leftside_wrapper {background: #F2F2F2; color: #6E6E6E;}
.leftside { padding: 0 10px;}

/* Aside Right */
.rightside {padding: 0 10px;}

/* Content Area */
.full_width {width: 100%!important;}
.main_wrapper, .main {background: #fff;}
.content_wrapper {padding: 0 0 20px;}

/* Footer */
.footer_content {padding: 20px 10px; text-align: right;}
.footer {color: #fff; min-height: 200px; background: url(img/textures/diagTexture.png) top center no-repeat;}
.footer a {color: #ffb400;}
.footer a:hover, .footer a:focus {color: #fff;}