/* Start Main/User Menu */
#mainmenu, #usermenu { font-size: 1em; }
#mainmenu a, #usermenu a { display: block; margin: 0; padding: 2px; color: #666; }
#mainmenu a:hover, #usermenu a:hover { color: #000; }
#mainmenu a.menuTop, #usermenu a.menuTop {  }
#mainmenu a.menuMain { padding-left: 5px; }
#mainmenu a.menuSub { padding-left: 10px; }
#mainmenu a.menuSub:hover {  }
#usermenu a.highlight { color: #59BBE6; }
/* End Main/User Menu */

/* codes and quotes */
.xoopsCode { background-color: #fff; color:inherit; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; max-height: 200px; overflow: auto; }
.xoopsQuote { background-color: #fff; color:inherit; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; font-style:italic; padding: 0 6px 6px 6px; }
.icmsCode { background-color: #fff; color:inherit; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; max-height: 200px; overflow: auto; }
.icmsQuote { background-color: #fff; color:inherit; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; font-style:italic; padding: 0 6px 6px 6px; }

/* tables and cells */
table.outer { width: 100%;}
table.outer td {padding: 0; border: 0;  vertical-align: top;}
.outer th {color: #0066CC; padding: 2px; vertical-align: middle; border-bottom: 4px solid #0254a6;}
.outer {border: 1px solid #f9f9f9;}
.outer .head {background-color: #ddd; padding: 5px; font-weight: bold;}
.outer .even, .outer tr.even td {background-color: #f5f5f5; padding: 5px; border-bottom: 1px solid #ddd;}
.outer .odd, .outer tr.odd td {background-color: #f2f2f2; padding: 5px; border-bottom: 1px solid #ddd;}
.outer .foot {background-color: #f9f9f9; padding: 0;}
.outer .foot td {background: transparent; padding: 5px;}
.outer .foot td input {margin-bottom: 0;}
.controlButtons {background-color: #f9f9f9; border: 1px solid #ddd; padding: 5px 0; width: 99%; clear: both; text-align: center;}
.controlButtons input {margin-bottom: 0;}

/* core messages */
.coreMessage {display: block; width: auto; border-radius: 5px; -moz-border-radius: 5px; padding: 10px; margin: 10px 0;
-webkit-box-shadow:  0px 2px 15px -5px rgba(0, 0, 0, .7);
   -moz-box-shadow:  0px 2px 15px -5px rgba(0, 0, 0, .7);
        box-shadow:  0px 2px 15px -5px rgba(0, 0, 0, .7);
}
.coreMessage .message-title {font-weight: bold; float: left; clear: both;}
.coreMessage .message {float: left; clear: both;}

.errorMsg { background: #B94A48; color: #F2DEDE; text-align: center; border: 1px solid #DDD; font-weight: bold; padding: 10px; margin: 10px 0;}
.errorMsg a, .errorMsg a:visited {color: #F2DEDE;}
.confirmMsg { background-color: #48b948; color: #def2de; text-align: center; border: 1px solid #DDD; font-weight: bold; padding: 10px; margin: 10px 0;}
.confirmMsg a, .confirmMsg a:visited {color: #def2de;}
.resultMsg { background-color : #488db9; color: #dee4f2; text-align: center; border: 1px solid #DDD; font-weight: bold; padding: 10px; margin: 10px 0;}
.resultMsg a, .resultMsg a:visited {color: #dee4f2;}
.warningMsg { background-color : #b99048; color: #f2eede; text-align: center; border: 1px solid #DDD; font-weight: bold; padding: 10px; margin: 10px 0;}
.warningMsg a, .warningMsg a:visited {color: #f2eede;}


/* Admin styles */
.CPbigTitle {background-repeat: no-repeat; background-position: 10px 10px; font-size: 20px; padding: 20px 0 20px 50px; margin: 0; border-bottom: 1px solid #ccc;}

/* Admin Help Nav */
#helpbar a { float: left; width: 14px; height: 14px; padding: 2px 0 4px 5px; background: #F3AC03; color: #333333; border: 1px dotted #dddddd; }

.cpDashPanel .tabs-left > .nav-tabs > li > a, .cpDashPanel .tabs-right > .nav-tabs > li > a {min-width: 100px; }
.cpDashPanel .tab-content .cpPanelItem { float: left; width: 30%; margin: 0 2% 2% 0; padding: 10px 1px; outline: 1px #ccc; border: 1px solid #ddd; text-align: center; }
/*.cpDashPanel .modulesAdminPanel .cpPanelItem {width: 22%;}*/
.cpDashPanel .tab-content a {width: 100%; float: left;}  
.cpDashPanel .tab-content a.modalButton {width: auto; overflow: hidden;}
.cpDashPanel .tab-content a img, .cpDashPanel .tab-content img { margin: 0 0 10px 0; }
.smallTitle {margin: 5px 0; font-weight: bold;}
.cpDashPanel .modulesAdminPanel h4 {margin: 0 0 10px 0; padding: 0; border-bottom: 1px solid #ddd;}
.moduleInfo {width: 90%; text-align: left; padding: 5px; background: #f3f3f3; margin: 0 auto;}
.cpDashPanel .tab-content .moduleActions a {width: auto;}
.cpDashPanel .tab-content .moduleActions a img {position: relative; height: 13px; margin: -2px 4px 0 0;}

/* Forms */
.admin input, .admin textarea, .admin select {width: auto;}
.admin select {max-width: 210px;}
.admin .icms-theme-form { padding: 10px; background: #f2f2f2; border-bottom: 1px solid #ddd;}
.admin .icms-theme-form legend {margin: 0; text-align: left; font-size: 18px; border-bottom: 1px solid #ddd;}
.admin .icms-theme-form .fieldWrapper {width: 100%; float: left; clear: both; padding: 5px 0; border-bottom: 1px solid #ddd;}
.admin .icms-theme-form .group-button {border-bottom: 0;}
.admin .icms-theme-form .grouped {background: #ececec; float: left; width: 100%; clear: both; margin: 0 0 15px 0; border: 1px solid #CCC;}
.admin .icms-theme-form .grouped .inner {padding: 10px;float: left;}
.admin .icms-theme-form .grouped .icms_checkboxoption label {float: right;}
.admin .icms-theme-form .grouped .checkemallWrapper {width: 100%; clear: both; float: left; border-top: 1px solid #ccc; padding: 0;}
.admin .icms-theme-form .grouped .checkemallWrapper .inner {padding: 10px; float: left; width: auto;}
.admin .icms-theme-form .grouped .icms_checkboxoption {float: left; display: inline-block; padding: 2px 4px 6px;}
.admin .icms-theme-form .grouped .icms_checkboxoption input {float: left;}
.admin .icms-theme-form label {font-weight: bold; width: 100%; float: left; clear: both; padding: 1% 0;}
.admin .icms-theme-form .grouped .icms_checkboxoption label {clear: none; width: auto; padding: 0; margin-left: 5px;}
.admin .icms-theme-form label .caption-marker {font-weight: normal; color: red; padding: 1px 2px;}
.admin .icms-theme-form .fieldWrapper > div {width: 98%; float: left; clear: both; padding: 1%;}
.admin .icms-theme-form .fieldWrapper .helptip { float: right; display: block; margin: 0 -10px 0 0; width: 60px; height: 30px; overflow: hidden; }
.admin .icms-theme-form .fieldWrapper .helptip a { float: left; display: block; width: 60px; height: 30px; }
.admin .icms-theme-form .fieldWrapper .helptip a img { height: 30px; float: left; }
.admin .icms-theme-form .fieldWrapper .helptip a:hover img { float: right;}
.admin .icms-theme-form .fieldWrapper .helptext {display: none;}
.admin code {display: block; float: left; clear: both; width: 100%; height: auto; max-height: 400px; overflow-x: hidden; overflow-y: auto; background: #f3f3f3; border: 1px solid #ddd; margin: 10px 0; padding: 10px;}
.admin .buttonsPagerWrapper {margin: 10px 0 0 0;}
.admin .introButtons {float: left;}
.admin .pageNavWrapper {float: right;}
.admin div.pagination.default {margin: 5px 0; height: auto;}
.admin .quickSearchBoxFilterWrapper {float: left; clear: both; width: 100%; margin: 10px 0; border-top: 1px solid #CCC; padding: 10px 0 0;}
.admin .quickSearchBox {float: right;}
.admin .filterAndLimit {float: left;}
.admin .filterAndLimit .singleObject {float: left; margin: 0 10px 0 0;}
.admin .filterAndLimit .singleObject select {min-width: 70px;}
.admin .actionButtonTray {padding: 10px 0 5px; border-top: 4px solid #0254A6; text-align: center;}
.admin .positionInfoWrapper {display: block; float: left; clear: both; width: 100%; background: #f3f3f3; border: 1px solid #ddd; margin: 10px 0;}
.admin .positionInfoWrapper .inner {padding: 10px;}

#xo-logger-output {width: 100%; float: left; clear: both; background: #ececec; margin: 0;}
#xo-logger-output .nav {margin: 0;}
#xo-logger-output .tab-pane {padding: 0 20px 20px;}
#xo-logger-output .tab-pane div {overflow: auto; padding: 10px;}