/* reset css selectors */
* { margin: 0; padding: 0; border: 0; outline: none; text-decoration: none;font-family: sans-serif; font-size: 1em; font-weight: normal; font-style: normal;}

table { width: 100%;	border-collapse: collapse;}
img {	border:0;}
acronym, abbr, dfn { cursor: 	help;}
q, cite, em, dfn, strong { font-style:italic;}
strong, dfn {font-weight: 		bold;}
del { text-decoration: 			line-through;}
address { font-style: normal; letter-spacing: .1em;}

/*======== styles pour mettre des blocs "flottants" par exemple des images ======== */
.floatleft {
	float: 							left;
	margin-top: 					1em;
	margin-right : 				1em;
	padding-left: 					4px;
	border: 							0;
}
.floatright {
	float: 							right;
	margin-bottom: 				1em;
	margin-left: 					1em;
	padding: 						2px;
	border: 							0;
}

/*========  Alignment class ======== */
.txtleft   { text-align: 			left; }
.txtright  { text-align: 			right; }
.txtcenter { text-align: 			center;	}
.txtjustify { text-align:			justify; }
.alignmiddle { vertical-align: 	middle;}
.aligntop { vertical-align: 		top;}
.alignbottom { vertical-align: 	bottom;}

.positop {margin-top:0;padding-top:0;}
.posibottom {margin-bottom:0;padding-bottom:0;}

/*========  Width class ======== */
.width100 { width: 				100%;}
.width98 {width:					98%;}
.width95 {width:					95%;}
.width90 {width:					90%;}
.width85 {width:					85%;}
.width80 {width:					80%;}
.width75 { width: 				75%;}
.width66 { width: 				66%;}
.width50 { width: 				50%;}
.width33 { width: 				33%;}
.width25 { width: 				25%;}
.width20 { width: 				20%;}
.width10 { width: 				10%;}
.width5 {width:					5%;}
.width1 {width:					1%;}

/* ========= Font class ========== */
.extrasmall { font-size: 		.7em;}
.small {	font-size: 				.9em;}
.normal { font-size: 			1em;}
.big { font-size: 				1.2em;}
.maxi { font-size: 				1.5em;}

.bold { font-weight: 			bold;}
.italic {font-style: 			italic;}

.red {background-color: inherit; color: #ff0000;}
.blue {background-color: inherit; color: #0000ff;}
.black {background-color: inherit;	color:#000;}
.white {background-color: inherit;	color:#fff;}
.yellow {background-color: inherit; color: #ffff00;}
.orange { background-color: inherit; color: #ffa500;}
.green {	background-color: inherit; color: #32CD32;}
.silver { background-color: inherit; color: #c0c0c0;}

/*========  Show class ======== */
.clear{ clear:both; height:0; font-size:0; line-height:0; }
.clearleft{ clear:left; height:0; font-size:0; line-height:0; }
.clearright{ clear:right; height:0; font-size:0; line-height:0; }
.block { display: 				block; }
.hide  { display: 				none; }
.spacer { padding: 				0 0 3px 0;}
.nowrap {display:					nowrap;}


/* xoops dhtml editor : don't remove */
#xoopsHiddenText {visibility: hidden; background-color:inherit; color: #000; font-weight: normal; font-style: normal; text-decoration: none;}

/* For required elements in XOOPS form, can be overwritten in theme styles */
.xoops-form-element-caption .caption-marker {
	display: 						none;
}

.xoops-form-element-caption-required .caption-marker {
	background-color: 			inherit;
	padding-left: 					2px;
	color: 							#ff0000;
}

.xoops-form-element-help {
	font-size:						.9em;
	padding-top:					5px;
	font-weight:					normal;
}

/* class XoopsPageNav::renderImageNav */
.pagneutral {
	font-size: 						10px;
	width:							16px;
	height:							19px;
	text-align:						center;
	background-image:				url(./images/pagneutral.gif);
}
.pagact {
	font-size: 						10px;
	width: 							16px;
	height: 							19px;
	text-align: 					center;
	background-image: 			url(./images/pagact.gif);
}

.paginact {
	font-size: 						10px;
	width: 							16px;
	height: 							19px;
	text-align: 					center;
	background-image: 			url(./images/paginact.gif);
}

/* For banners.php */
#bannerstats {}
#login_window  {
	max-width:						480px;
	margin:							1em auto;
	background-color:				#f8f8f8;
	color: 							inherit;
	border:							1px solid #000;
}
#login_window  h2 {
	margin:							.5em;
	padding:							130px 0 0;
	background:						url( images/password.png) no-repeat center top;
	text-align:						center;
}
.login_form  .credentials {
	margin:							.5em 1em;
	padding:							1em;
	background-color:				#ccc;
	color:							inherit;
}
.login_form  .credentials label {
	display:							inline-block;
	width:							33%;
	margin:							1px;
}
.login_form  .credentials input {
	width:							50%;
	margin:							1px;
	padding:							1px;
	border:							1px solid #000;
}
.login_form  .credentials input:focus {
	border:							1px solid #2266cc;
}
.login_form  .actions {
	padding:							1.5em .5em .5em;
	text-align:						center;
}
.login_info {
	margin:							.5em 1em;
	text-align: 					center;
}
.content_title {
	font-size: 						1.2em;
}
#bannerstats td {
	text-align: 					center;

}

.CPbigTitle{
	font-size: 20px;
	color: #1E90FF;
	background: no-repeat left top;
	font-weight: bold;
	height: 40px;
	vertical-align: middle;
	padding: 10px 0 0 50px;
	border-bottom: 3px solid #1E90FF;
}
.CPindexOptions{
	padding: 4px;
	vertical-align: top;
}
.CPmediumTitle{
	font-weight: bold;
	font-size: 14px;
	color: #FF4500;
}
div.cpicon{
	margin: 3px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
div.cpicon a {
	display: block; float: left;
	height: 100px !important;
	height: 100px;
	width: 110px !important;
	width: 110px;
	vertical-align: middle;
	text-decoration : none;
	border: 1px solid #CCCCCC;
	padding: 2px 5px 1px 5px;
	margin: 3px;
	color: #666666;
}
div.cpicon a:hover{
	background-color: #FFF6C1;
	border: 1px solid #FF9900;
	color: #1E90FF;
}

div.cpicon img { margin-top: 8px; margin-bottom: 8px; }
div.cpicon span {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
div.cpicon span.uno{
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: Blue;
}
div.cpicon span.unor{
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: #CC0000;
}
