body {
}
#container {
	background: #F8F8F8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 5px #78735A;
	-moz-box-shadow: 0 0 5px #78735A;
	-webkit-box-shadow: 0 0 5px #78735A;
	width: 680px;
	margin: 0 auto;
	line-height: 20px;
	z-index: 2;
}
#header {
	background: #e1e1e1;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	padding: 15px;
	font-size: 1.3em;
	text-shadow: 1px 1px 0 #FFF;
	border-bottom: 1px solid #FFF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e1e1e1));
	background: -moz-linear-gradient(top, #f8f8f8, #e1e1e1);
}
#content {
	border-top: 1px solid #e1e1e1;
	padding: 15px;
}
.message {
	background: #F2F8FB;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F2F8FB), to(#D9EAFC));
	background: -moz-linear-gradient(top, #F2F8FB, #D9EAFC);
	padding: 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #BFCBE7;
	box-shadow: 1px 1px 3px #A5A9AE;
	-webkit-box-shadow: 1px 1px 3px #A5A9AE;
	-moz-box-shadow: 1px 1px 3px #A5A9AE;
	line-height: 140%;
	text-align: center;
}
#outer {
	width: 680px;
	margin: 0 auto;
	padding: 0 40px 5px 40px;
	line-height: 20px;
	z-index: 2;
}