body {visibility: visible;}
.js body.adminMenu {margin-top: 0!important;}
#admin-menu {visibility: hidden;}

header, #header_wrapper, #primary_navigation, #page, #preface_wrapper, #main_wrapper, #postscript_wrapper, footer, #footer {
  display: block;
}

header {border: 0; padding-top: 0;}

#header_wrapper {
  width: 100%;
  float: left;
  clear: both;
  margin: 0;
}

#logo {padding: 10px 0 0 10px;}
#header_search {
  margin: 0;
  padding: 10px 0 0;
  width: 100%;
  float: left;
  clear: both;
  display: block;
  background: #efefef;
}
#header_search form {margin: 0; float: right;}

#nav_toggle {
  display: block;
  position: absolute;
  top: 40px;
  right: 10px;
}

nav#primary_navigation {
  background: #F1F1F1;
  margin: 0;
  width: 100%;
  float: left;
  display: none;
  clear: both;
  height: auto;
  display: none;
}

nav#primary_navigation ul {
  display: block;
  float: none;
  position: relative;
  float: left;
  margin: 10px 0;
  width: 100%;
  clear: both;
}

nav#primary_navigation ul li {
  width: 97%;
  margin: 0 auto 5px;
  display: block;
  clear: both;
}

nav#primary_navigation ul li a {
  width: 100%;
  margin: 0;
  padding: 10px;
  color: #000;
  background: #fff;
  display: block;
  clear: both;
  border-radius: 10px;
  box-shadow: 0 0 1px #ccc;
}

nav#primary_navigation ul li.active a,
nav#primary_navigation ul li a:active,
nav#primary_navigation ul li a:hover {
  color: #fff;
  background: #46B1E1;  
}
#preface_wrapper, #main_wrapper, #postscript_wrapper {width: 100%; float: left; clear: both; display: block;}

#leftside_wrapper {width: auto; min-height: 0!important;}
#main_wrapper {background: #F1F1F1;}
