body {visibility: visible; padding: 0;}
.js body.adminMenu {margin-top: 40px!important;}

header, #header_wrapper, #primary_navigation, #page, #preface_wrapper, #main_wrapper, #postscript_wrapper, footer, #footer {display: block;}

header {border: 0; padding-top: 0; float: left; clear: both; width: 100%;}
#header_wrapper {width: 100%; float: left; clear: both; margin: 0;}
#logo {padding: 0 0 10px 10px;}
#logo a, #logo a span, #logo a span img {max-width: 200px;}

#header_search {margin: 0; padding: 10px 0 0; width: 100%; float: left; clear: both; display: block; background: #efefef;}
#header_search form {margin: 0 10px 0 0; float: right;}

nav#primary_navigation {background: #CCC; margin: 0; width: 100%; float: left; display: block; clear: both; height: auto;}
.toSel {display: none;}
.admin .mobileMenu, .mobileMenu {display: block;}

#preface_wrapper, #main_wrapper, #postscript_wrapper {width: 100%; float: left; clear: both; display: block;}

#preface_wrapper .block,
#top_blocks_wrapper,
#bottom_blocks_wrapper,
#content {
  width: 96%;
  margin-left: 2%;
}
#leftside_wrapper {width: auto; min-height: 0!important;}
#main_wrapper {background: #F1F1F1;}
#rightside_wrapper {padding-bottom: 20px;}

footer {width: 100%; float: left; clear: both;}
footer a {display: block;}