name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 4 28 */4 *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue was automatically marked as stale'
        stale-pr-message: 'This pull request was automatically marked as stale'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
